apiVersion: batch/v1
kind: CronJob
metadata:
  name: bundling-cronjob
  namespace: eco4cast
spec:
  schedule: "0 */6 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: bundling-container
            image: ghcr.io/boettiger-lab/k8s@sha256:fd02edfb4318afe022f8a732a99d93df7127dadb2bb4e208e36a86f96c2f45c6
            securityContext:
              runAsUser: 0
            resources:
              limits:
                memory: 120Gi
                cpu: "8"
              requests:
                memory: 120Gi
                cpu: "8"
            env:
            - name: GITHUB_PAT
              valueFrom:
                secretKeyRef:
                  name: github-secrets
                  key: GITHUB_PAT
            - name: OSN_KEY
              valueFrom:
                secretKeyRef:
                  name: osn-secrets
                  key: OSN_KEY
            - name: OSN_SECRET
              valueFrom:
                secretKeyRef:
                  name: osn-secrets
                  key: OSN_SECRET
            command:
            - /bin/bash
            - -c
            - |
              mkdir -p /app
              git clone https://$GITHUB_PAT@github.com/eco4cast/neon4cast-ci.git /app
              cd /app
              Rscript -e 'options(repos=list(CRAN="http://packagemanager.rstudio.com/all/__linux__/noble/latest")); install.packages(c("future.apply", "progressr", "minioclient", "bench", "glue", "fs"))'
              Rscript submission_processing/bundled_forecasts.R
              Rscript submission_processing/bundled_summaries.R
              # Ping healthchecks.io (using the same ID from other workflows as a placeholder)
              curl -m 10 --retry 5 https://hc-ping.com/fc148462-2f07-4cd3-a11d-823982db0270
          restartPolicy: OnFailure
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 1
