name: Coastal Targets Download

on:
  workflow_dispatch:
  schedule:
    - cron: '0 12 * * *'

jobs:
  r-job:
    runs-on: ubuntu-latest

    env:
      OSN_KEY: ${{ secrets.OSN_KEY }}
      OSN_SECRET: ${{ secrets.OSN_SECRET }}
      EPA_EMAIL: ${{ secrets.EPA_EMAIL }}
      EPA_KEY: ${{ secrets.EPA_KEY }}

    container: eco4cast/rocker-neon4cast:latest

    steps:
      - uses: actions/checkout@v4

      - name: Install R packages
        run: |
          Rscript -e 'options(repos=c(CRAN="https://cloud.r-project.org"))'
          Rscript -e 'pkgs <- c("rerddap","foreach","doParallel","doSNOW","ncdf4","jsonlite","RCurl","tidyr","getPass","Kendall","arrow","dplyr","lubridate"); need <- pkgs[!pkgs %in% rownames(installed.packages())]; if(length(need)) install.packages(need, Ncpus = 2)'

      - name: Write NASA Earthdata .netrc
        run: |
          cat > ~/.netrc <<'EOF'
          machine urs.earthdata.nasa.gov
            login ${{ secrets.EARTHDATA_USERNAME }}
            password ${{ secrets.EARTHDATA_PASSWORD }}
          EOF
          chmod 600 ~/.netrc
    
      - name: Run Coastal Targets Script
        run: |
          Rscript targets/coastal_targets.R

      - name: Upload MODIS folder
        uses: actions/upload-artifact@v4
        with:
          name: modis-files
          path: modis_debug/
