name: Coastal Targets Download

on:
  workflow_dispatch:
  schedule:
    - cron: '0 12 * * *'

jobs:
  r-job:
    runs-on: ubuntu-latest

    env:
      OSN_KEY: ${{ secrets.OSN_KEY }}
      OSN_SECRET: ${{ secrets.OSN_SECRET }}

    container: eco4cast/rocker-neon4cast:latest

    steps:
      - uses: actions/checkout@v3

      - name: Install R packages
        run: |
          Rscript -e "install.packages(c('rerddap','foreach','doParallel','doSNOW','ncdf4','jsonlite','RCurl','tidyr','getPass','Kendall'), repos='https://cloud.r-project.org')"

      - name: Run Coastal Targets Script
        run: |
          Rscript targets/coastal_targets.R
