name: Coastal Targets Download

on:
  workflow_dispatch:
  schedule:
    - cron: '0 12 * * *'

jobs:
  r-job:
    runs-on: ubuntu-latest

    env:
      OSN_KEY: ${{ secrets.OSN_KEY }}
      OSN_SECRET: ${{ secrets.OSN_SECRET }}
      EPA_EMAIL: ${{ secrets.EPA_EMAIL }}
      EPA_KEY: ${{ secrets.EPA_KEY }}

    container: eco4cast/rocker-neon4cast:latest

    steps:
      # Checkout repo
      - uses: actions/checkout@v4

      # Cache renv packages
      - name: Cache renv
        uses: actions/cache@v4
        with:
          path: renv/library
          key: renv-${{ hashFiles('renv.lock') }}
          restore-keys: renv-

      # Restore R packages
      - name: Restore renv
        run: |
          Rscript -e 'renv::restore()'

      # Run coastal targets script
      - name: Run Coastal Targets Script
        run: |
          Rscript targets/coastal_targets.R
