name: Run S3 Script

on:
  workflow_dispatch:  # allows manual run

jobs:
  r-job:
    runs-on: ubuntu-latest

    env:
      OSN_KEY: ${{ secrets.OSN_KEY }}
      OSN_SECRET: ${{ secrets.OSN_SECRET }}

    container: eco4cast/rocker-neon4cast:latest

    steps:
      # 1. Checkout repository
      - uses: actions/checkout@v3

      # 2. Run your script
      - name: Run S3 Script
        run: |
          Rscript S3_Bucket_ReadWrite.R
