# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  #schedule:
  #  - cron: '0 0 * * *'
  workflow_dispatch:

name: scoring

jobs:
  docker:
    #runs-on: ubuntu-latest
    runs-on: self-hosted
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      OSN_KEY: ${{ secrets.OSN_KEY }}
      OSN_SECRET: ${{ secrets.OSN_SECRET }}
    container: rqthomas/vera-rocker:latest
    steps:
      - uses: actions/checkout@v3

      - name: Install
        shell: Rscript {0}
        run: |
          remotes::install_deps(".", dep=TRUE)

      - name: Generate scores
        shell: Rscript {0}
        run: |
          source("scoring/scoring.R")
